:root {
   --neutral-900: hsl(240, 6%, 10%);
   --neutral-800: hsl(240, 6%, 15%);
   --neutral-700: hsl(240, 6%, 20%);
   --neutral-100: hsl(240, 6%, 90%);
   --neutral-300: hsl(240, 6%, 60%);

   --primary: hsl(143, 77%, 53%);
   // --primary: hsl(174, 99%, 46%);
}
